#text{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
}
#header{
    background-color:#6d1b1b;
    color: black;
}
#navbar{
    background-color:#6d1b1b;
}
#Footer{
    background-color:#6d1b1b;
}
#Paragraph{
    font-size: 30px;
    font-family:cursive;
    color: black;
}
